<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title> Past Results </title>
</head>
<body>

    <div class="container p-5">
        <h1> Past Transcriber Results </h1>
        <div class="row text-center text-white border border-2 pt-2 rounded bg-primary" style="margin-bottom: 10px;"> 
            <h3> Average Stats </h3>
            <p class="medium"> <i> Average stats for all past transcriptions (of all users). </i>  </p>

            <div class="row text-center text-black border-bottom border-1 p-2 bg-white mx-auto">
                <div class="col"> <b> Number of completed transcriptions </b> </div>
                <div class="col"> {{size}} transcriptions </div>
            </div>
            <div class="row text-center text-black border-bottom border-1 p-2 bg-white mx-auto">
                <div class="col"> <b> Time taken </b> </div>
                <div class="col"> {{data[0]}} seconds  </div>
            </div>
            <div class="row text-center text-black border-bottom border-1 p-2 bg-white mx-auto">
                <div class="col"> <b> Accuracy </b> </div>
                <div class="col"> {{data[1]}}% </div>
            </div>
            <div class="row text-center text-black border-bottom border-1 p-2 bg-white mx-auto">
                <div class="col"> <b> Total words spoken </b>  </div>
                <div class="col">  {{data[2]}} words  </div>
            </div>
            <div class="row text-center text-black border-bottom border-1 p-2 bg-white mx-auto">
                <div class="col"> <b> Correct words spoken </b>  </div>
                <div class="col">  {{data[3]}} words </div>
            </div>
            <div class="row text-center text-black border-bottom border-1 p-2 bg-white mx-auto">
                <div class="col"> <b> Total words spoken per second </b>  </div>
                <div class="col">  {{data[4]}} words per second </div>
            </div>
            <div class="row text-center text-black border-bottom border-1 p-2  bg-white mx-auto">
                <div class="col"> <b> Correct words spoken per second </b>  </div>
                <div class="col"> {{data[5]}} words per second </div>
            </div>



        </div>
        {% for document in documents %}
        <div class="card" style="width: 45%; display: inline-block; margin-left: 3%; margin-bottom: 10px;">
            <div class="card-body">
                <h5 class="card-title">  Result </h5>
                <p> Completed {{document["time_created"]}}<p>
                <p class="small"> 
                    Accuracy: {{document["accuracy"]}} out of 1
                    <br>
                    Time: {{document["time_taken"]}} seconds 
                    <br>
                    Total words per second: {{document["total_words_per_second"]}}
                </p>
                <a href= "view/{{document._id}}" class="btn btn-outline-primary"> More details </a>
            </div>
        </div>


        {% endfor %}

    </div>
</body>